@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

// Custom variables for mixins
$desktop: 900px;
$md-mobile: 768px;
$sm-mobile: 500px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
}

main {
  min-height: 100vh;
  background-color: color(off-white);
  color: color(white);
}

p {
  line-height: 1.4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-hr {
  height: 3px;
  background-color: hsl(0, 0%, 29%);
  margin: 2rem 0 1rem;
}

// Helper classes

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.m-1 {
  margin: 1rem;
}

.py-1 {
  padding: 1rem 0 0;
}

.light-blue {
  margin: 0 1rem;
  color: #3fbcff;
}

// Align items

.ai-fe {
  align-items: flex-end;
}

.ai-fs {
  align-items: flex-start;
}

.ai-c {
  align-items: center;
}

// Justify Content

.jc-fe {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-around;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-c {
  justify-content: center;
}

// Mixins

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin md-mobile {
  @media (min-width: #{$md-mobile}) {
    @content;
  }
}
@mixin sm-mobile {
  @media (min-width: #{$sm-mobile}) {
    @content;
  }
}
