/* HamburgerContainer */

.hamburger-container span:nth-child(1) {
  top: 0;
  transform-origin: center;
}

.hamburger-container span:nth-child(2) {
  top: 33%;
}

.hamburger-container span:nth-child(3) {
  top: 66%;
  transform-origin: center;
}

.hamburger-container.open span:nth-child(1) {
  top: 1rem;
  transform: rotate(405deg);
  left: 0px;
  transition: 0.24s;
  background-color: #fff;
}

.hamburger-container.open span:nth-child(2) {
  transform: rotateX(190deg);
  transform: translatex(-100px);
  opacity: 0;
  background-color: #fff;
}

.hamburger-container.open span:nth-child(3) {
  transform: rotate(-405deg);
  top: 1rem;
  background-color: #fff;
}

.sideNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0vh;
  background-color: color(primary);
  color: color(med-gray);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 99;
}

.sideNav.open {
  height: 100vh;
}

.sideNav-item {
  margin: 1rem 0;
  font-size: 1.4rem;
}
